.site-nav a {
  color: $colorofmaintext;
  display: block;
  padding-top: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: $akcent;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 85px;
  padding: 0px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: $akcent;
}
.link.portfolio {
  color: $akcent;
}
.link.studio {
  color: $akcent;
}
.link.portfolio::after {
  display: block;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: url(../images/hover2.svg);
}
.link.studio::after {
  display: block;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: url(../images/hover.svg);
}
.connection a {
  color: $color-of-second-text;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.connection a:hover,
.connection a:focus {
  color: $akcent;
}
.connection {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: auto;
}
.connection .items + .items {
  margin-left: 30px;
}
/*.connection*/
.mail::before {
  display: inline-flex;
  margin-right: 10px;
  min-height: 13px;
  min-width: 16px;
}

.mail {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope {
  fill: $color-of-second-text;
  height: 12px;
  width: 16px;
  margin-right: 10px;
}
.mail:hover,
.mail:focus {
  color: $akcent;
}
.mail:hover > .envelope {
  fill: $akcent;
}
.mail:focus > .envelope {
  fill: $akcent;
}
.smartphone {
  fill: $color-of-second-text;
  height: 15px;
  width: 10px;
  margin-right: 10px;
}

.phone {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover,
.phone:focus {
  color: $akcent;
}
.phone:hover > .smartphone {
  fill: $akcent;
}
.phone:focus > .smartphone {
  fill: $akcent;
}
